<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{{ .Title }} - Encyclo Futé</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <header>
    <nav>
      <a href="/encyclo-fute/">Encyclo Futé</a>
<a href="/encyclo-fute/encyclopedie/">Encyclopédie</a>
<a href="/encyclo-fute/guides/">Guides pratiques</a>
<a href="/encyclo-fute/categories/">Catégories</a>
<a href="/encyclo-fute/about/">À propos</a>
<a href="/encyclo-fute/contact/">Contact</a>



    </nav>
  </header>

  <main>
    {{ block "main" . }}{{ end }}
  </main>

  <footer>
    <p>© Encyclo Futé — {{ now.Year }}</p>
  </footer>

</body>
</html>
