{{ define "main" }}

<h1>{{ .Title }}</h1>

<!-- SECTION : GUIDES PILIERS -->
<h2>Guides piliers</h2>
<ul>
  {{ $piliers := slice "le-minimalisme" "organisation-quotidien" "maison-minimaliste" }}

  {{ range $piliers }}
    {{ $page := $.Site.GetPage (printf "guides/%s" .) }}
    {{ if $page }}
      <li>
        <a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a>
      </li>
    {{ end }}
  {{ end }}
</ul>

<!-- SECTION : AUTRES GUIDES -->
<h2>Guides pratiques</h2>
<ul>
  {{ range .Pages }}
    {{ $slug := .RelPermalink }}

    {{ if not (in (slice "/guides/le-minimalisme/" "/guides/organisation-quotidien/" "/guides/maison-minimaliste/") $slug) }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
    {{ end }}
  {{ end }}
</ul>

{{ end }}
