{{ define "main" }}

<h1>{{ .Title }}</h1>

{{ if .IsHome }}

  <!-- PAGE D’ACCUEIL -->
  <h2>Guides piliers</h2>
  <ul>
    {{ $piliers := slice "le-minimalisme" "organisation-quotidien" "maison-minimaliste" }}

    {{ range $piliers }}
      {{ $page := $.Site.GetPage (printf "guides/%s" .) }}
      {{ if $page }}
        <li>
          <a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a>
        </li>
      {{ end }}
    {{ end }}
  </ul>

  <h2>Guides pratiques</h2>
  <ul>
    {{ range (where $.Site.RegularPages "Section" "guides") }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>

{{ else }}

  <!-- LISTE STANDARD POUR LES SECTIONS -->
  <ul>
    {{ range .Pages }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>

{{ end }}

{{ end }}
