{{ define "main" }}

<h1>{{ .Title }}</h1>

{{ if .IsHome }}

  <!-- PAGE D'ACCUEIL -->

  <h2>Derniers articles</h2>

  <ul>
    {{ range first 7 (where .Site.RegularPages "Section" "articles") }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>

  <h2>Guides pratiques</h2>

  <ul>
    {{ range (where .Site.RegularPages "Section" "guides") }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>

{{ else }}

  <!-- CONTENU DE LA SECTION -->

  {{ .Content }}

<p style="color: red;">
  Nombre d'articles dans cette section :
  {{ len .RegularPages }}
</p>

  <!-- LISTE DES ARTICLES -->

  {{ $pages := .RegularPages }}

  {{ if gt (len $pages) 0 }}

    <h2>
      {{ if eq .Section "encyclopedie" }}
        Fiches de l'Encyclopédie
      {{ else if eq .Section "guides" }}
        Guides pratiques
      {{ else }}
        Articles
      {{ end }}
    </h2>

    <ul>
      {{ range $pages.ByTitle }}
        <li>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>

  {{ else }}

    <p>Aucun article disponible dans cette rubrique.</p>

  {{ end }}

{{ end }}

{{ end }}