{{ define "main" }}

<article class="article">

  {{ with .Params.intro }}
    <p class="intro">{{ . }}</p>
  {{ end }}

  <div class="article-content">
    {{ .Content }}
  </div>

  {{ with .Params.faq }}
  <section class="faq">
    <h2>Questions fréquentes</h2>
    <ul>
      {{ range . }}
        <li>
          <strong>{{ .question }}</strong><br>
          {{ .answer }}
        </li>
      {{ end }}
    </ul>
  </section>
  {{ end }}

  {{ partial "astuce-futee.html" . }}

  {{ partial "liens-internes.html" . }}

  {{ partial "aliexpress.html" . }}

</article>

{{ end }}
